extends base.pug
block vars
  - var currentpage = "about"
block layout
  #fullpage
    //- h2 H
    h2 sb int&rsquo;l&#xf8fe; is a design practice founded in 2018 by mel marshall (canada) &amp; caleb woodward (UK). 
    h2 we specialize in graphic design and type design.