/* Webfont: Spec-500 */@font-face {
    font-family: 'SpecMed500';
    src: url('Spec-500.woff2') format('woff2'), /* Modern Browsers */
         url('Spec-500.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

